.imagem{
    
<<<<<<< HEAD
    -fx-background-image: url("../../../../../../imagens/logo.png");
=======
    -fx-background-image: url("../../../../../../imagens/sge.png");
>>>>>>> origin/development
}

.efeito{
    -fx-background-color: transparent;

}