.imagem{
    
    -fx-background-image: url("../../../../../../imagens/lado.png");
    
    
    
}

.butao1-red {
    -fx-background-color: linear-gradient(#ff5400, #be1d00);
    -fx-background-radius: 30;
    -fx-background-insets: 0;
    -fx-text-fill: white;
    -fx-font-weight: bold;
}
.butao1-red:hover {
    -fx-background-color: linear-gradient(#2A5058, #61a2b1);
}